.active {
  scale: 1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.inactive {
  scale: 0;
  position: absolute;
}
